.mono:lang(en-us), .mono {
  font-family: Courier, Courier New;
}

.retro  {
  background-color: #282828;
  color: #66FF66;
  text-shadow: 0 0 10px #33FF33;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25,25,25);
}

.line-1{
    white-space: pre-line;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
    animation: typewriter 6s steps(44) 1s 1 normal both,
               blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 44ch;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

@keyframes stage3-animation-a {
  from{opacity: 0;}
  to{opacity: 1;}
}

.title {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.logo {
  height: 30%;
  width: auto !important;
  padding-left: 5%;
}

#_dash-global-error-container
  > div
  > div.dash-debug-menu.dash-debug-menu--closed {
  display: none;
}

#tempSection {
  justify-content: space-between;
}

.flex-display {
  display: flex;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

#bodySection > div {
  width: 100%;
}

#tempControlSection  {
  vertical-align: top;
  margin-left: 2%;
}

#tempLedDispSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}

#tempControlSection {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

#toggleTheme > label {
  font-weight: 700;
}

#tempLedDispSection {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  padding-top: 25px;
}
